/* begin navigation sign in last */

  .user-account-link {
  
    order : 1;
    
    }
    
  #mainNavigation,
  #mobileNavigation
  
    {
    
      display : flex;
      
      }
  
  #mainNavigation > div:last-child,
  #mobileNavigation > div:last-child
  
    {
      
      order : 1;
      
      }
      
  @media only screen and ( min-width : 641px ) {
  
    body:not( .force-mobile-nav ) .nav-wrapper nav > div:last-child > a,
    body:not( .force-mobile-nav ) .nav-wrapper nav > div:last-child .folder-toggle {
    
      padding-right : 1em;
      
      }
      
    }
    
  /* desktop */
  
  #mainNavigation {
  
    align-items : center;
    justify-content : flex-end;
    
    }
    
  /* mobile */
  
  #mobileNavigation {
  
    flex-direction : column;
    
    }
    
  /* end navigation sign in last */
